.about {

  >.container {
    padding-left: 40px;
  }

  &__content {
    padding-top: 130px;
    padding-bottom: 140px;
    @include xlg-block {
      padding-bottom: 20px;
    };
    @include lg-block {
      padding-top: 30px;
      padding-bottom: 140px;
    };
    @include sm-block {
      padding-top: 75px;
      padding-bottom: 50px;
    }
  ;
    > .row {
      position: relative;
    }
  }

  &__pointbreak {
    top: 120px;
    @include lg-block {
      top: 260px;
    }
  ;
  }

  &__title {
    margin-bottom: 90px;
    @include lg-block {
      margin-bottom: 60px;
    }
  ;
    @include sm-block {
      margin-bottom: 25px;
    }
  ;
  }

  /* left */
  &__left {
    @include col;
    @include size(12);
    padding-top: 30px;
    position: relative;
    @include size-lg(15);
    @include lg-block {
      padding-top: 0;
      position: relative;
      z-index: 20;
    }
  ;
    @include size-sm(24);
    @include sm-block {
      margin-bottom: 35px;
    }
  ;
  }

  &__text {
    font-size: 18px;
    line-height: lh(18px, 28px);
    margin-bottom: 30px;
    @include lg-block {
      font-size: 14px;
      margin-bottom: 17px;
    }
  ;
    @include sm-block {
      text-align: center;
      font-size: 12px;
    }
  ;
  }
  &__text2 {
    @extend .about__text;
    font-weight: 600;
    margin-bottom: 75px;
    @include lg-block {
      padding-right: 100px;
      margin-bottom: 50px;
    }
  ;
    @include sm-block {
      text-align: center;
      font-weight: 400;
      padding-right: 0;
      font-size: 12px;
    }
  ;
  }

  &__partners {
    @include lg-block {
      padding-right: 100px;
    }
  ;
    @include sm-block {
      padding-right: 0;
    }
  ;
  }
  &__partner {
    @include col;
    @include size(6);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    @include size-lg(8);
    @include size-sm(12);
    @include sm-block {
      margin-bottom: 50px;
    }
  ;
  }
  /* END left */

  /* right */
  &__right {
    @include col;
    @include size(12);
    @include lg-block {
      position: absolute;
      z-index: 10;
      right: -80px;
      top: 0;
      padding-top: 80px;
    }
  ;
    @include size-lg(15);
    @include size-sm(24);
    @include sm-block {
      padding-top: 0;
      position: static;
      width: calc(100%);
      margin-left: 0;
      margin-right: 0;
    }
  ;
  }
  &__img {
    position: relative;
    margin-bottom: 35px;
    @include lg-block {
      margin-bottom: 16px;
    }
  ;
    @include sm-block {
      margin-bottom: 35px;
    }
  ;
  }
  &__grad {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 0) 26%, rgba(255, 255, 255, 0) 71%, rgba(241, 241, 241, 1) 100%);

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 65px;
      background: linear-gradient(to bottom, rgba(241, 241, 241, 1) 0%, rgba(241, 241, 241, 0) 100%);
    }
    &:after {
      content: '';
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 65px;
      background: linear-gradient(to bottom, rgba(241, 241, 241, 0) 0%, rgba(241, 241, 241, 1) 100%);
      @include sm-block {
        display: block;
      }
    ;
    }

  }
  &__pic {
    width: 100%;
  }

  &__workers {
    display: flex;
    justify-content: center;
  }
  &__worker {
    margin-right: 160px;
    @include lg-block {
      margin-right: 100px;
    } ;

    &:hover {
      .about__worker-title{
        color: $buttonActive;
      }
      .about__worker-prof {
        color: $buttonActive;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &-title {
      color: $button;
      font-weight: 700;
      text-align: center;
      transition: .3s;
    }

    &-prof {
      color: $Dim-gray2;
      text-align: center;
      transition: .3s;
    }
  }

  &__title2 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 100px;
    @include xlg-block {
      margin-top: 120px;
    };
    @include lg-block {
      margin-top: 65px;
      font-size: 20px;
      margin-bottom: 50px;
    }
  ;
    @include sm-block {
      font-size: 14px;
      margin-bottom: 22px;
    }
  ;

    &:after {
      width: 100px;
      height: 6px;
      @include lg-block {
        width: 80px;
        height: 4px;
      }
    ;
      @include sm-block {
        width: 60px;
        height: 4px;
        margin-top: 10px;
      }
    ;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    @include sm-block {
      flex-wrap: wrap;
      justify-content: center;
    }
  ;
  }
  &__item {
    position: relative;
    @include sm-block {
      width: 50%;
      text-align: center;
      margin-bottom: 35px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  ;

    &-num {
      color: $bg;
      font-size: 130px;
      letter-spacing: -6.5px;
      position: absolute;
      z-index: 10;
      left: 0;
      bottom: -13px;
      line-height: 1;
      @include lg-block {
        position: static;
        font-size: 50px;
        margin-bottom: 10px;
      }
      @include sm-block {
        font-size: 81px;
      };
    ;
    }

    &-title {
      position: relative;
      z-index: 20;
      color: $button;
      font-size: 18px;
      font-weight: 700;
      padding-left: 28px;
      line-height: lh(18px, 24px);
      @include lg-block {
        font-size: 12px;
        padding-left: 0;
      }
    ;
    }
  }
  /* END right */

  &__drop {
    display: none;
    position: absolute;
    @include col;
    @include size(12);
    @include size-lg(15);
    left: 0;
    top: 0;
    z-index: 200;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    background-color: rgba($bg,.95);
    padding: 30px;
    border-radius: 5px;
    @include sm-block {
      position: fixed;
      z-index: 210;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      margin: 0;
    };

    &.active {
      display: block;
    }

  }

  &__close {

    position: absolute;
    top: 30px;
    right: 25px;

    &:hover {
      .res__close-svg {
        fill: $buttonActive;
      }
    }

    &-svg {
      width: 20px;
      height: 20px;
      fill: $button;
      transition: .3s;
    }
  }
}