.callorder {
  position: fixed;
  z-index: 210;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;

  &.active {
    display: flex;
  }

  &__fon {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($bg,.5);
  }

  &__form {
    position: relative;
    z-index: 20;
    max-width: 601px;
    width: 100%;
    min-height: 495px;
    box-shadow: 0 0 114px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    background-color: $bg;
    padding: 35px 40px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    @include sm-block {
      padding: 15px 20px;
      padding-bottom: 0;
    };
    @include xs-block {
      height: 100vh;
      padding-top: 45px;
      padding-bottom: 70px;
    };


  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  &__close {
    position: absolute;
    top: 40px;
    right: 35px;
    @include xs-block {
      top: 70px;
    };

    &:hover {
      .callorder__close-svg {
        fill: $buttonActive;
      }
    }

    &-svg {
      width: 14px;
      height: 14px;
      fill: $button;
      transition: .3s;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
    @include xs-block {
      margin-bottom: 20px;
    };
  }

  &__fields {
    margin-bottom: 30px;
    width: 100%;
    @include xs-block {
      margin-bottom: 20px;
    };
  }
  &__field {
    margin-bottom: 14px;
    @include xs-block {
      margin-bottom: 10px;
    };
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__accept {
    margin-bottom: 45px;
    padding-left: 33px;
    @include sm-block {
      padding-left: 0;
    };
    @include xs-block {
      margin-bottom: 20px;
    };
  }

  &__submit {
    display: flex;
    justify-content: center;
    width: 100%;
    @include sm-block {
      margin-top: auto;
    };
  }

  &__success {
    font-size: 32px;
    text-align: center;
    font-weight: 500;
  }

}

.input {
  width: 100%;
  border-radius: 10px;
  background-color: $Snow;
  padding: 11px 24px;
  font-size: 14px;

  &::placeholder {
    color: $Dim-gray2;
  }

  &_area {
    height: 112px;
    border-radius: 10px;
    @include xs-block {
      height: 80px;
    };
  }
}

.accept {
  width: 100%;
  display: flex;
  justify-content: flex-start;

  &__check {
    display: none;

    &:checked + .accept__wrapper .accept__fake:after {
      display: block;
    }
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
  }

  &__label {
    margin-right: 10px;
  }
  &__fake {
    width: 19px;
    height: 19px;
    border-radius: 3px;
    border: 1px solid $button;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:after {
      display: none;
      content: '';

      width: 12px;
      height: 6px;
      margin-bottom: 4px;
      border-bottom: 1px solid $button;
      border-left: 1px solid $button;
      transform: rotate(-45deg);
    }
  }

  &__link {
    color: $Dim-gray2;
    font-size: 14px;
  }
}

.submit {
  max-width: 356px;
  width: 100%;
  height: 49px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 25px 25px 0 0;
  background-color: $button;
  transition: .3s;
  position: relative;
  cursor: pointer;
  @include xs-block {
    border-radius: 25px;
  };

  &.disabled {
    pointer-events: none;
    opacity: .5;
  }


  &:hover {
    background-color: $buttonActive;
  }

  &__title {
    color: $bg;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
  }

  &__svg {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 55px;
    fill: $bg;
    opacity: 0.2;
  }
}