.footer {
  background-image: url(../images/bg/bg-third.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;

  &__pointbreak {
    top: 110px;
  }

  &__content {
    padding-top: vh(85);
    padding-bottom: vh(265);
  }
}

.plans {
  margin-bottom: vh(120);

  &__title {
    margin-bottom: vh(50);
  }

  &__list {
    margin-bottom: vh(65);
  }

  &__subtitle {
    @include col;
    @include size(18);
    @include shift(3);

    font-size: 18px;
    font-weight: 700;
    line-height: lh(18px, 26px);
    text-transform: uppercase;
    text-align: center;
  }
}

.plan {
  @include col;
  @include size(12);
  padding: 0 40px;

  &__title {
    margin-bottom: vh(30);
    height: 56px;
  }

  &__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid rgba($button, .5);
    padding-bottom: 10px;
    margin-bottom: vh(45);
  }

  &__price {
    &-int {
      font-weight: 600;
      font-size: 36px;
    }
    &-cur {
      color: $Taupe-gray;
    }
  }

  &__period {
    font-weight: 600;
  }

  &__desc {
    color: $Dim-gray;
    line-height: lh(16px, 22px);

    p {
      margin-bottom: vh(20);
      &:last-child {
        margin-bottom: 0;
      }

    }
  }
}

.contacts {

  &__title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: vh(20);
  }

  &__left {
    @include col;
    @include size(18);

    display: flex;
    align-items: center;
  }

  &__text {
    color: $Dim-gray2;
    font-weight: 700;
    line-height: lh(16px, 22px);
    text-transform: uppercase;
    margin-right: 50px;
  }

  &__button {
    min-width: 360px;
    width: 360px;
    height: 50px;
    background-color: $button;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: auto;
  }

  &__right {
    @include col;
    @include size(6);

    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.contact {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}