.header {
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 0;
  right: 0;
  @include lg-block {
    top: 40px;
  };
  @include sm-block {
    position: fixed;
    z-index: 210;
    top: 0;
    background-color: #0c4e63;
  };

  &__row {
    display: flex;
    flex-wrap: wrap;
    @include sm-block {
      align-items: center;
    };
  }

  &__slogan {
    @include sm-block {
      display: none;
    };
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    @include lg-block {
      align-items: center;
    };
  }

  &__callorder {
    margin-right: 125px;
    @include lg-block {
      display: none;
    };

    &-button {
      display: flex;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom-color: $bg;
      }
    }

    &-title {
      font-weight: 500;
      color: $bg;
      font-size: 14px;
      text-transform: uppercase;
      margin-right: 15px;
    }
    &-svg {
      width: 19px;
      height: 15px;
      fill: $bg;
    }
  }

  &__langs {
    @include lg-block {
      margin-right: 60px;
    };
    @include sm-block {
      margin-right: 0;
      order: 1;
    };
  }

  &__call {
    display: none;
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background-color: $Warm-black;
    transition: .3s;
    @include lg-block {
      display: flex;
    };
    @include sm-block{
      margin-right: 20px;
      background-color: transparent;
      box-shadow: none;
    };

    &:hover {
      opacity: 0.7;
    }

    &-svg {
      width: 18px;
      height: 18px;
      fill: $Lavender-gray;
    }
  }
}

.slogan {
  color: $bg;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.7;
  text-transform: uppercase;
  max-width: 505px;
  position: relative;
  cursor: pointer;

  @include lg-block {
    max-width: 445px;
    font-size: 13px;
  };
  @include sm-block {
    font-size: 11px;
    text-align: center;
  };
  @include sm-block {
    max-width: 100%;
    position: relative;
  };

  &_blue {
    color: $buttonActive;
  }

  &:after {
    content: '';
    top: 100%;
    height: 50px;
    width: 100%;
    position: absolute;
    display: none;
  }

  &:hover {

    &:after {
      display: block;
    }
    .drop {
      display: block;
    }
  }

}

.callorder {

}

.langs {
  display: flex;
}

.lang {
  color: $Isabelline2;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 35px;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  @include sm-block {
    margin-right: 20px;
  };

  &.active {
    border-color: $bg;
  }

  &:last-child {
    margin-right: 0;
  }
}