.main {
  
  &__first {
    background-image: url(../images/bg/bg-first.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    position: relative;
    background-size: cover;
    @include sm-block {
      background-size: cover;
      background-position: left 61% top -40px;
    };
  }

  &__second {
    background-image: url(../images/bg/bg-second2.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    @include lg-block{
      background-size: auto;
    };
  }

}